.room {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

.messages-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 275px;
  bottom: 47px;
  overflow-y: scroll;
}

.messages-container ul {
  display: block;
  word-wrap: break-word;
}

.message-form {
  position: absolute;
  height: 50px;
  left: 0;
  right: 275px;
  bottom: 0;
}

.message-form textarea {
  resize: none;
  position: absolute;
  bottom: 0px;
  margin-bottom: 1px;
  width: 100%;
}

.side-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 265px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.side-menu__room-name h2 {
  overflow: hidden;
  white-space: nowrap;
  font-size: 24px;
  color: #000;
  text-overflow: ellipsis;
  border-bottom: 2px solid #bcd;
}

.side-menu__room-name div {
  width: 100%;
  text-align: right;
  padding-top: 5px;
}

.side-menu__members,
.side-menu__rooms {
  margin-top: 25px;
}

.side-menu__members li,
.side-menu__rooms li {
  margin-top: 10px;
}

.side-menu__members p {
  display: inline-block;
  margin-left: 5px;
  max-width: 230px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.side-menu__rooms button {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notification {
  position: absolute;
  text-align: center;
  z-index: 1;
  top: -25px;
  left: 50%;
  width: 500px;
  height: 40px;
  margin-left: -250px;
  padding-top: 8px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: both;
}

.notification.is-offline {
  background-color: rgba(128,0,16,.4);
  -webkit-animation-duration: 1s;
  -webkit-animation-name: 'fade-in';
}

.notification.is-connecting {
  background-color: rgba(128,128,0,.4);
  -webkit-animation-duration: 1s;
  -webkit-animation-name: 'fade-in';
}

.notification.is-online {
  background-color: rgba(0,64,128,.4);
  -webkit-animation-duration: 3s;
  -webkit-animation-name: 'fade-in-out';
}

@-webkit-keyframes 'fade-in' {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes 'fade-in-out' {
  0%   { opacity: 0; }
  33%  { opacity: 1; }
  66%  { opacity: 1; }
  100% { opacity: 0; }
}

.notification p {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.message {
  margin-top: 15px;
}

.message:first-child {
  margin-top: 0;
}

.message__username {
  display: inline-block;
  margin-left: 5px;
  color: #577a9f;
  font-size: 14px;
  font-weight: bold;
}

.message__date {
  display: inline-block;
  margin-left: 5px;
  font-size: 8px;
  color: #888;
}

.message__body {
  overflow: hidden;
}

.message__body * {
  word-wrap: break-word;
  font-size: 14px;
  color: #000;
}

.markdown-body h4 {
  border-style: none;
}

.markdown-body table {
  table-layout: auto;
  width: auto;
}

.markdown-body ul {
  list-style-type: disc;
}

.markdown-body ol ul,
.markdown-body ul ul {
  list-style-type: circle;
}

.markdown-body ol ol ul,
.markdown-body ol ul ul,
.markdown-body ul ol ul,
.markdown-body ul ul ul {
  list-style-type: square;
}

.markdown-body p {
  white-space: pre-line;
}
